* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}



header {
    background-color: black;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    padding: 8px 12px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header nav ul li:hover {
    transform: scale(0.8);
    transition: all, 0.5s;
}

header span {
    display: none;
}

.container-area {
    display: grid;
    gap: 15px;
    
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;

    grid-template-areas: 
        "logo lista lista lista" /*son nombre*/
        ;

    align-items: center;
}

nav {
    grid-area: lista;
}

aside {
    grid-area: logo;
}

.hero { 
    background-image: url('./img/5065282.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.hero__buttom {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 15px;
}    

.hero__buttom--pointer {
    padding: 10px 50px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

.service { 
    height: 500px;
    color: white;
    display: grid;
    
    padding: 0 50px;
    background-color: rgb(22, 98, 121);

}

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 15px;
    
}

.service__text {
    margin-top: 15px;
    text-align: center;
}

/*BOX MODEL*/
.boxModel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-bottom: 50px;
}

div span:hover {
    border-radius: 10px;
    width: 190px;
    height: 190px;
    border-color: darkcyan;
    border-style: outset;
    background-color: darkcyan;
    transition: all, 1s;
}

.empeza { 
    height: 200px;
    color: black;
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

footer { 
    font-size: 80%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

}

footer img {
    margin-top: -20px;
    margin-bottom: -40px;
}

footer div p a {
    text-decoration: none;
    color: rgb(22, 98, 121);
}

/*ESTRATEGIA MOBILE LAST*/

@media (max-width: 967px) {
    body {
        font-size: 120%;
    }
    
    header div aside img {
        width: 50px;
    }
    
    header nav ul li a {
        padding: 8px 12px;
        margin: 0 10px;
        font-size: 15px;
        border-radius: 20px;
        background-color: rgba(255,255,255,0.2);
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    
   
    /*BOX MODEL*/
    .boxModel {
        background-color: black;
        text-align: center;
        vertical-align: middle;
        width: 150px;
        height: 150px;
        cursor: pointer;
        font-size: 15px;
    }

    div span:hover {
        width: 145px;
        height: 145px;
    }

    footer { 
        font-size: 20px;

    }

}
@media (max-width: 799px) {

    body {
        font-size: 120%;
    }

    header nav {
        display: none;
    }

    header span {
        display: block;
    }

    .container-area {
        display: flex;    
    }

    .boxModel {
        background-color: black;
        text-align: center;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        cursor: pointer;
        font-size: 15px;
    }

    div span:hover {
        width: 95px;
        height: 95px;
    }
    
    section span p {
        margin-left: 20px;
        font-size: 15px;
    }

}

@media (max-width: 520px) {

    .hero {
        text-align: center;
    }
    .service-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-top: 15px;
        
    }

    section p {
        margin-top: -90px;
        font-size: 15px;
    }

    section div h2 {
        text-align: center;
    }

    footer p {
        font-size: 10px;
    }

}